@import url('../../../assets/styles/_variables.less');

.content-student {
    margin-top: 20%;

    h1 {
        color: @dark_gray;
    }
}
.btn-student {
    padding: 5px;
    border-radius: 5px;
    border-color: @green;
    font-size: 16px;
    cursor: pointer
}